<!DOCTYPE html>
<html>
<head>
  <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="~/css/StyleSheet.css" rel="stylesheet" />
  <title>@ViewData["Title"]</title>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h1 class="bg-dark text-white text-center">News App DB</h1>
      @RenderBody()
    </div>
  </div>
</body>
</html>