@model List<Article>


@foreach (var item in Model)
{
  <img src="~/Image/@item.ImageFile" alt="Alternate Text" />
  <p>@item.Headline</p>
  <p>@item.ImageFile</p>
  <p>@item.Content</p>
  <br />
}

<h1>lakjs dhnfakljhjk ldfhljkgh</h1>